.btn {
    display: flex;
    flex-direction: row;
    width: 178px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #2d74da;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d74da;
    margin-top: 24px;
}

.btn:hover {
    background-color: #2d74da;;
    color: #FFFFFF;

}

.ButtonWrapper {
    width: 638px;
}

.ApplyButton {
    width: 141px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(27, 40, 52, 0.16);
    background-color: #2367c8;
    color: #FFFFFF;
}

.disabled {
    opacity: 0.5;
}

.active {
    opacity: 1;
}
