.Label {
    /*font-family: 'Source Sans Pro', sans-serif;;*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.57;*/
    /*letter-spacing: normal;*/
    /*color: #68717c;*/
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 178px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;}


.FileInputLabel {
    color: #2d74da;
    border: 1px solid #2d74da;
    background-color: transparent;
    margin-top: 24px;
}

.FileInputLabel:hover {
    background-color: #2d74da;
    color: #FFFFFF;
}

.FileInputLabel::before {
    content: 'Прикрепить фото'
}

.EditLabel {
    margin-top: 14px;
    color: #2d74da;
    border: 1px solid #2d74da;
    background-color: transparent;
    margin-bottom: 14px;
}

.EditLabel:hover {
    background-color: #2d74da;
    color: #FFFFFF;
}

.EditLabel::before {
    content: 'Редактировать'
}

.RemoveLabel {
    color: #fa5e5b;
    background-color: transparent;
    border: 1px solid #fa5e5b;
}

.RemoveLabel:hover {
    background-color: #fa5e5b;
    color: #FFFFFF;
}

.RemoveLabel::before {
    content: 'Удалить'
}
